html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #5f6972;
}


.wrapper {
    position: relative;
    width: 100%;
}

@keyframes mycolor {
    from {
        background-color: red;
    }

    to {
        background-color: blue;
    }
}

.round {
    border-radius: 100%;
    background-color: blue;
    height: 50px;
    width: 120px;
    padding-top: 8px;
    font-weight: 700;
    animation: mycolor 5s infinite;
}


.funny {
    font-size: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.slider {
    position: relative;
    overflow: hidden;
    max-width: 900px;
    height: 101%;
    margin: 0 auto;
}

.slider_imgs {
    width: 500%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border: solid 5px #5f6972;
    background-color: #25282a;

}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    25% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-300%, 0, 0);
        transform: translate3d(-300%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    25% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-300%, 0, 0);
        transform: translate3d(-300%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@-webkit-keyframes zoomOut {
    from {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    75% {
        opacity: 0.5;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    75% {
        opacity: 0.5;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    100% {
        opacity: 1;
    }
}



.slider_imgs .img {
    width: 20%;
    height: 100%;
    border-radius: 8%;
    -webkit-transition: 5.1s;
    -o-transition: 5.1s;
    transition: 5.1s;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    animation-duration: 15s;
    animation-iteration-count: 1;

}




.img img {
    max-width: 100%;
    max-height: auto;
    border-radius: 8%;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;

    animation: zoomOut 25s ease infinite;

    -webkit-animation-name: zoomOut;


}

img:hover {
    animation-play-state: paused;
}

.slider_imgs input {
    position: absolute;
    visibility: hidden;
}

.slider_buttons {
    position: absolute;
    top: 90%;
    left: 30%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;

}

.slider_buttons .slider-buttons-items {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border: 2px solid #5a9efe;
    border-radius: 100%;
    margin-left: 11px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #5a9efe;


}




@-webkit-keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}



@-webkit-keyframes bounceInUp {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
        transform: translate3d(0, 3000px, 0) scaleY(5);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
        transform: translate3d(0, -20px, 0) scaleY(0.9);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
        transform: translate3d(0, 10px, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
        transform: translate3d(0, 5px, 0) scaleY(0.985);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
        transform: translate3d(0, 50px, 0) scaleY(5);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
        transform: translate3d(0, -20px, 0) scaleY(0.9);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
        transform: translate3d(0, 10px, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
        transform: translate3d(0, -5px, 0) scaleY(0.985);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}



.img_text {
    color: #fff;
    position: relative;
    top: 91%;
    width: 286px;
    margin-left: 0;
    left: 5%;

    -webkit-animation-name: bounceInUp;
    animation: bounceInUp 5s ease infinite;
}

.img_text:hover {
    animation-play-state: paused;
}

.slider_buttons .slider-buttons-items:hover {
    background-color: #fff;

}

.slider_buttons .slider-buttons-items:visited {
    background-color: #25282a;
}

.slider_buttons .slider-buttons-items:link {
    background-color: #fff;
}

#s1:checked~.s1 {
    margin-left: 0;


}

#s2:checked~.s1 {
    margin-left: -20%;
}

#s3:checked~.s1 {
    margin-left: -40%;
}

#s4:checked~.s1 {
    margin-left: -60%;
}



@media(max-width:600px) {
    .slider {
        margin-top: 4%;
    }

}

@media(max-width:550px) {
    .slider {
        margin-top: 6%;
    }

}

@media(max-width:480px) {
    .slider {
        margin-top: 10%;
    }

}

@media(max-width:420px) {
    .slider {
        margin-top: 14%;
    }

}

@media(max-width:400px) {
    .slider {
        margin-top: 18%;
    }

}

@media(max-width:380px) {
    .slider {
        margin-top: 22%;
    }

}

@media(max-width:360px) {
    .slider {
        margin-top: 24%;
    }

}

@media(max-width:340px) {
    .slider {
        margin-top: 28%;
    }

}

@media(max-width:320px) {
    .slider {
        margin-top: 30%;
    }

}

@media(max-width:300px) {
    .slider {
        margin-top: 36%;
    }

}


@media(max-width:280px) {
    .slider {
        margin-top: 40%;
    }

}

@media(max-width:260px) {
    .slider {
        margin-top: 47%;
    }

}

@media(max-width:240px) {
    .slider {
        margin-top: 55%;
    }

}

@media(max-width:210px) {
    .slider {
        margin-top: 65%;
    }

}