html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;

    background-color: #5f6972;
}


.wrapper {
    position: relative;
    width: 100%;
}


.slider {
    position: relative;
    overflow: hidden;
    max-width: 900px;
    height: 101%;
    margin: 0 auto;
}

.slider_imgs {
    width: 500%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border: solid 5px #5f6972;
    background-color: #25282a;

}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    25% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-300%, 0, 0);
        transform: translate3d(-300%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    75% {
        opacity: 0.5;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    100% {
        opacity: 1;
    }
}



.slider_imgs .img {
    width: 20%;
    height: 100%;
    border-radius: 8%;
    -webkit-transition: 5.1s;
    -o-transition: 5.1s;
    transition: 5.1s;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    animation-duration: 15s;
    animation-iteration-count: 1;

}




.img img {
    max-width: 100%;
    max-height: auto;
    border-radius: 8%;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;

    animation: zoomOut 25s ease infinite;

    -webkit-animation-name: zoomOut;


}

img:hover {
    animation-play-state: paused;
}

.slider_imgs input {
    position: absolute;
    visibility: hidden;
}

.slider_buttons {
    position: absolute;
    top: 90%;
    left: 30%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;

}

.slider_buttons .slider-buttons-items {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border: 2px solid #5a9efe;
    border-radius: 100%;
    margin-left: 15px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #5a9efe;


}

@keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


.img_text {
    color: #fff;
    position: relative;
    top: 91%;
    width: 286px;
    margin-left: 95px;
    animation: rollIn 5s ease 1;
    animation-delay: 12s;

    -webkit-animation-name: rollIn;
}



.slider_buttons .slider-buttons-items:hover {
    background-color: #fff;

}

.slider_buttons .slider-buttons-items:visited {
    background-color: #25282a;
}

.slider_buttons .slider-buttons-items:link {
    background-color: #fff;
}

#s1:checked~.s1 {
    margin-left: 0;


}

#s2:checked~.s1 {
    margin-left: -20%;
}

#s3:checked~.s1 {
    margin-left: -40%;
}

#s4:checked~.s1 {
    margin-left: -60%;
}